@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html {
  font-family: sans-serif;
}

body {
  font-family: "Roboto Slab", serif !important;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #4e443c;
  background: #f0efe7 url(../images/body.jpg);
}

a {
  color: #0388a6;
  text-decoration: none;
  transition-property: 0.3s;
  transition-property: color;
  background-color: transparent;
}

img {
  border: 0;
}

p {
  margin: 0 0 11px;
  font-size: 14px;
  line-height: 22px;
}

.inner-container {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: visible;
}

/* header section */

header {
  position: relative;
  padding-bottom: 26px;
  margin-top: 14px;
}

#page-heading {
  position: absolute;
  top: 11px;
  left: 120px;
  display: block;
  margin-top: 1px;
  font-size: 24px;
  line-height: 24px;
  color: #9a9994;
}

form.search {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1000;
  width: 262px;
  padding-left: 32px;
  background: transparent url(../images/search.png) 10px
    50% no-repeat;
  background-size: 17px 17px;
  background-color: #fcfcfa !important;
  border: solid 1px #ceccc5;
  border-radius: 20px;
  box-shadow: inset 0 1px 4px #ddd;
}

form.search:focus-within {
  border-color: #007175;
}

form.search input {
  border-radius: 20px;
  width: 100%;
  height: 20px;
  margin-top: 4px;
  margin-bottom: 2px;
  line-height: 1em;
  color: #4e443c;
  background-color: transparent;
  border: 0;
}

form.search input:focus {
  outline: none;
}

/* first page  */

.first-page {
    height: 295px;
    margin-top: -20px;
    margin-bottom: 2em;
    background: transparent url(../images/isometric-grid.png) top right repeat;
    background-size: 35px 21px;
}

.first-page .inner-container {
    padding-top: 20px;
}

.first-page .inner-container p {
  width: 558px;
  margin-bottom: 1.2em;
  font-size: 18px;
  line-height: 26.4px;
}

.first-page .inner-container img.illustration {
  position: absolute;
  right: -30px;
  top: 24px;
}

/* Making the website responsive */

@media (max-width: 940px) {
    .inner-container {
        width: 100%;
    }

    header {
        padding-bottom: 2rem;
    }

    header a, header span {
        padding-left: 1rem;
        margin-bottom: 10px;
    }

    form.search {
        transform: translate(-50%);
        left: 50%;
        margin-top: 7px;
        top: unset;
    }
    
    .first-page {
      height: unset;
    }

    .first-page .inner-container {
      display: flex;
      margin-top: 1.8rem;
    }

    .first-page .inner-container div:first-of-type {
      padding: 1rem;
    }

    .first-page .inner-container p {
      width: unset;
    }

    .first-page .inner-container .illustration-div {
      display: flex;
      align-items: center;
    }

    .first-page .inner-container img.illustration {
      position: unset;
      right: unset;
      top: unset;
      max-height: 100%;
    }
}

@media (max-width: 640px) {
    header {
        padding-bottom: 2.5rem;
    }

    header #page-heading {
        font-size: 0.8rem;
        top: 0;
        padding-right: 1rem;
    }

    form.search {
        width: 84%;
    }

    form.search input {
        padding: 0.3rem 0.1rem;
    }

    .first-page .inner-container {
      flex-direction: column-reverse;
    }
}