@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html {
  font-family: sans-serif;
}

body {
  font-family: "Roboto Slab", serif !important;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #4e443c;
  background: #f0efe7 url(https://git-scm.com/images/bg/body.jpg);
}

/* header section */

.head {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: visible;
}

header {
  position: relative;
  padding-bottom: 26px;
  margin-top: 14px;
}

a {
  color: #0388a6;
  text-decoration: none;
  transition-property: 0.3s;
  transition-property: color;
  background-color: transparent;
}

img {
  border: 0;
}

#page-heading {
  position: absolute;
  top: 11px;
  left: 120px;
  display: block;
  margin-top: 1px;
  font-size: 24px;
  line-height: 24px;
  color: #9a9994;
}

form.search {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1000;
  width: 262px;
  padding-left: 32px;
  background: transparent url(https://git-scm.com/images/icons/search.png) 10px
    50% no-repeat;
  background-size: 17px 17px;
  background-color: #fcfcfa !important;
  border: solid 1px #ceccc5;
  border-radius: 20px;
  box-shadow: inset 0 1px 4px #ddd;
}

form.search:focus-within {
  border-color: #007175;
}

form.search input {
  border-radius: 20px;
  width: 100%;
  height: 20px;
  margin-top: 4px;
  margin-bottom: 2px;
  line-height: 1em;
  color: #4e443c;
  background-color: transparent;
  border: 0;
}

form.search input:focus {
  outline: none;
}

/* Making the website responsive */

@media (max-width: 940px) {
    .head {
        width: 100%;
    }

    header {
        padding-bottom: 2rem;
    }

    header a, header span {
        padding-left: 1rem;
        margin-bottom: 10px;
    }

    form.search {
        transform: translate(-50%);
        left: 50%;
        margin-top: 7px;
        top: unset;
    }
}

@media (max-width: 640px) {
    header {
        padding-bottom: 2.5rem;
    }

    header #page-heading {
        font-size: 0.8rem;
        top: 0;
        padding-right: 1rem;
    }

    form.search {
        width: 84%;
    }

    form.search input {
        padding: 0.3rem 0.1rem;
    }
}